{% extends 'base.html'%}

{% block Content %}
    
<script>

function w() {
swal({   title: "Mughal Invoice",   text: "Company - Site Association Not provided",   type: "warning",  
 showCancelButton: false,   confirmButtonColor: "#DD6B55",   confirmButtonText: "Please Add rate for the mentioned site",   closeOnConfirm: false },
 function(){
    window.location.href = 'add_rate';});

 
};
function s() {
  if ("{{ inv_id }}" !== " ")
  {
   
swal({   title: "Mughal Invoice",   text: "Delivery Note Edited, This is already invoiced #{{ inv_id }}  ",   type: "success",  
 showCancelButton: false,   confirmButtonColor: "#00ff7f",   confirmButtonText: "Invoice Again",   closeOnConfirm: false },
 function(){
    window.location.href = 'edit_del3?inv_id={{ inv_id }}';});
  }
   else 
   {

     swal({   title: "Mughal Invoice",   text: "Delivery Note Edited",   type: "success",  
 showCancelButton: false,   confirmButtonColor: "#00ff7f",   confirmButtonText: "Go to Edit page",   closeOnConfirm: false },
 function(){
    window.location.href = 'edit_del_note';});
     
   }


 
};
window.onload = function a() { 
document.getElementById("service").value = "{{ del_note.service }}";
document.getElementById("site").value = "{{ del_note.site_id }}";
document.getElementById("sel1").value = "{{ del_note.company_id }}";
document.getElementById("Input").value = "{{ del_note.units }}";
document.getElementById("date").value = "{{ del_note.date }}";
};
function myFunction(e){

   var e = document.getElementById("service");
   var sel2=  e.options[e.selectedIndex].value;
   if (sel2 == 's2')
   {
      document.getElementById('Input').value = 1; 
      document.getElementById('Input').readOnly = true; 
   }
   else
   {
     document.getElementById('Input').value = ""; 
      document.getElementById('Input').placeholder = "Enter 1 Incase of Trip"; 
      document.getElementById('Input').readOnly = false; 
   }
};

</script>
  

 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: darkblue">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#" style="color:white;">Mughal Invoice</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a  href="/" style="color:white;">Hi,{{ user.first_name }} {{ user.last_name }}</a></li>
           
            <li><a href="logout" style="color:white;">Logout</a></li>
            
           
          </ul>
          
        </div>
      </div>
    </div>

   





    <div class="container-fluid">
      <div class="row">
        <div  class="col-sm-3 col-md-2 sidebar" >
          <ul class="nav nav-sidebar">
              <li ><a href="home">Invoice Home</a></li>
             <li ><a href="add_company">Add Compnay</a></li>
             <li><a href="add_site">Add Site</a></li>
             <li class= "active"><a href="add_de_note">Add Delivery Note</a></li>
                        <li ><a href="view_site">Vew Site</a></li>
                 <li ><a href="get_invoice">View/Edit Invoice</a></li>
            <li><a href="report">Report</a></li>
            
		
          </ul>
       
        </div>
        <div class="col-sm-7 col-sm-offset-3 col-md-9 col-md-offset-2 main" >
            <center>  <b> <h3 class="p-3 mb-2 bg-primary bg-dark ">Edit Delivery Note  -  ID:{{ del_note.del_note_id }} </b></center>
          
          

          <form class="" role="form" action="add_de_note2" method="post">
   			 {% csrf_token %}
<div class ="row">
<div class="col-sm-3">
      <input type="text" class="form-control" placeholder="Deliver Note ID"  value= "{{ del_note.del_note_id }}" name="del_id" required><br>
     </div>
   

   
     <div class="col-sm-6 pull-right">   
     
     <input type="text" class="form-control" placeholder="Vehicle Number"  value = "{{ del_note.veh_no }}"name="veh_no" required><br>
         </div>
       </div>       

           <div class ="row">
     <div class="col-sm-4">  

<div class="form-group">
            <span class="label label-primary">Select Company:</span>
        <select class="form-control" class="form-control" id="sel1" name="company" required>
       
       {% for u in company  %}
                
        <option value="{{ u.id }}">{{ u.name }}
           </option  >
        {% endfor %}
     
           
          </select>
            </div> 

            </div>
    
     <div class="col-sm-4">  
<div class="form-group">
            <span class="label label-primary">Select Site:</span>
        <select class="form-control" class="form-control" id="site"  name="site" required>
       
       {% for u in sites  %}
                
        <option value="{{ u.id }}">{{ u.name }}
           </option  >
        {% endfor %}
     
           
          </select>
            </div> 

            </div>

          
     <div class="col-sm-4">  

             <div class="form-group">
            <span class="label label-primary">Select Service:</span>
        <select class="form-control" class="form-control" onchange="myFunction(event)"  id="service" name="service" required>
       
          
        <option value="s1"> Sweet Water Supply
           </option  >
          <option value="s2"> Sewage Water Removal 
           </option  >
          </select>
            </div> 

            </div>
             </div> <!--- row ends -->

  <div class ="row">
     <div class="col-sm-8">  
               <div class="form-group">
            <span class="label label-primary">Enter Units:</span>
              <input type="number" class="form-control" placeholder="Enter  1 in case of trip" name="units" id="Input" required><br>
              </div>
 </div>
    <div class="col-sm-4">  
                <div class="form-group">
            <span class="label label-primary">Date:</span>
              <input type="date" class="form-control" name="date" id= "date" required><br>
              </div>
             
            </div>
 </div> <!--- row ends -->

<input type = "hidden"   name= "id" value="{{ del_note.id }}"/>
 <button class="btn btn-lg btn-success btn-block" type="submit">Save </button>  
      </form>
        


          </div>
        </div>
      </div>
    </div>
    {% for message in messages %}
   
     {% if message.tags == "error" %} 
     <body onload=w()>

     {% endif %}
       {% if message.tags == "info" %} 
     <body onload=s()>
     
     {% endif %}
      
    </li>
{% endfor %}
{% endblock %}