
  <html>   

    <script src="/home/lals/Desktop/accounting/Invoice/assets/js/jquery.min.js"></script> 
    <script src="/home/lals/Desktop/accounting/Invoice/assets/js/bootstrap.min.js"></script>
    <script src="/home/lals/Desktop/accounting/Invoice/assets/js/docs.min.js"></script>
	<link href="/home/lals/Desktop/accounting/Invoice/assets/css/bootstrap.min.css" rel="stylesheet">
<div class="row col-md-12 container" id="invoice" style="background-color:white">

<title>Mughal Invoice</title>
<style >

body{

	font-size: 13px;
}
#td_inner td
{
	text-align:center;
}
.a {
  width: 100%;
   display: table;
  /*margin: 0 auto;*/
   
}

.b,.c {
  width:50px;
  /*float: left;*/
    display: table-cell;
  
}
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<hr>
<center><h1>Invoice </h1></center>
<hr>


    		<table>
			<tr>
			<td>
			<div class="invoice-title">
    			<B><h3 class="pull-right"  align="left">Invoice #{{invoice.id}}</h3></B>
    		</div>
			</td>
<td>
    		   <div class="c" align="right">
    				<address>
    					<strong>Invoice Date:</strong><br>
    					{{ invoice.date }}<br><br>
    				</address>
    			</div>
				</td>
				</tr>


    		</table>
    			<div class="b">
    			
    				Billed To:
    					<div class = 't' style="font-size:35px"><b> {{invoice1.name	}} 	</b></style>	</div>				
    					<br>{{invoice1.address}}<br>    				
    					Contact:{{invoice1.contact}}
    			
    			</div>
    			
				

           <br>
            
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">

    		
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table  class='table table-responsive table-bordered' border="1" style='background-color:#f2f2f2;padding-top:8px;'  >
    						<thead style="text-align:center;">
                                <tr class="heading">
        							<td style = "width:20px;" class="text-center"><strong>SINO</strong></td>
        							<td class="text-center" width="70%"><strong>Description</strong></td>
        							<td class="text-right " ><strong>Unit Rate</strong></td>
        							<td class="text-right"><strong>Total Units</strong></td>
                      <td class="text-right"><strong>Total price</strong></td>
                                </tr>
    						</thead>
    					<tbody id = "td_inner">
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
               
                 			<!-- foreach ($order->lineItems as $line) or some such thing here -->
               
                  {% for inv in sales %}
                  
    							<tr  class="item">
								
                    <td style = "width:20px;" >{{ forloop.counter }}</td>  								
    								
    								<td >{{ inv.service  }} - 
									{{inv.site}}
									</td>
									
									<td >{{inv.unit_price}}</td>
    								<td >{{ inv.units }}</td>
                    	<td>{{ inv.sum}}</td>
                    
    							</tr>
							
                 
                  {% endfor %}
				    {% if invoice.discount != '0' %}
				     <tr>
    								<td style = "width:10%;"  class=" no-line"></td>
    								<td class="no-line"></td>
                    <td style = "width:20%;"  class="no-line"></td>
    								<td style = "width:20%;" class="no-line text-center"><strong>Discount</strong></td>
    								<td style = "width:30%;" class="no-line text-right">{{ invoice.discount }} Qr</td>
    							</tr>
                  {% endif %}
    							
				  
                  <tr>
    								<td style = "width:10%;" class="thick-line"></td>
    								
										<td class="thick-line"></td>
                    	<td style = "width:20%;" class="thick-line"></td>
    								<td style = "width:20%;" class="thick-line text-center"><strong>Grand Total</strong></td>
    								<td style = "width:30%;"  class="thick-line text-right">{{invoice.total1 }} Qr</td>
    							</tr>
               
                 
									</table>
<br>
									<div align="left" style="padding-right:50px;">
    								<h2>
    								Total QR: {{ invoice.words }} </strong>
									</div>
    							
    				
						
<br>
						Receiver Signature: ..........................................................
						Signature: ...................................................................
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
                
    </div>



</div>
<html>