{% extends 'base.html'%}

{% block Content %}

{% load static %}

  
  
<script>




function w() {
swal({   title: "{{ name }}",   text: "You are not Logged In!!!",   type: "warning",  
 showCancelButton: false,   confirmButtonColor: "#DD6B55",   confirmButtonText: "Please Login to continue",   closeOnConfirm: false },
 function(){
    window.location.href = '/';});

 
};
</script>

{% if user.is_authenticated %}



  


     <style>


/* Fixed sidenav, full height */
.sidenav {

 
  z-index: 1;
  
  left: 0;
  background-color: #111;
  overflow-x: hidden;
 
}
.dropdown-btn:hover dropdown-container
{
display:block;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: blue;
}

/* Main content */

/* Add an active class to the active dropdown button */
.active {
  background-color: #88adbd;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;

}
 .se{
  display: block;
  background-color: #262626;

}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
  

    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



       <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:  #65696b">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href='#' style="color: white;">Mughal Invoice</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a  href="/" style="color:white;"><b>Hi,{{ user.first_name }} {{ user.last_name }}</b></a></li>
           
            <li><a href="logout" style="color:white;">Logout</a></li>
            
           
          </ul>
          
        </div>
      </div>
    </div>

   





    <div class="container-fluid">
      <div class="row">
        <div  class="col-sm-4 col-md-2 sidebar sidenav" >
         <ul class="nav nav-sidebar">
            <li ><a href='/'> Home</a></li>
              <button class="dropdown-btn ">Site &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <span class="caret"></span>
  </button>
  <div class="dropdown-container ">
  <li ><a href="add_site">Add Site</a></li>
   <li> <a href="view_site">Vew Site</a></li>
     <li><a href="add_rate">Add Rate</a></li>
     </div>
     
     <button class="dropdown-btn ">Company &nbsp&nbsp&nbsp&nbsp&nbsp
    <span class="caret"></span>
  </button>
  <div class="dropdown-container ">
            <li><a href="add_company">Add Company</a></li>
              <li ><a href="view_company">Vew Company</a></li>
               <li  ><a href="get_invoice">View Invoice</a></li>
               </div>

                <button class="dropdown-btn ">Delivery Note 
    <span class="caret"></span>
  </button>
  <div class="dropdown-container ">
              <li ><a href="add_de_note">Add Delivery Note</a></li>
            <li ><a href="edit_del_note">Edit Delivery Note</a></li>
            </div>
     <button class="dropdown-btn ">Accounts&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <span class="caret"></span>
  </button>
  <div class="dropdown-container se">  
  
             <li ><a href="add_money">Add Money   </a></li>       
           <li ><a href="view_money">Edit MoneyReceived  </a></li>         
           <li ><a href="report">Report</a></li>
          <li class="active"><a href="summary">Account Summary</a></li>
             <li><a href="add_start">Add Start Balance</a></li>
           </div>
            
		

          </ul>
        </div>
       

<hr>
<script src="{% static 'js/jquery.min.js'  %}"></script> 
  <div class="col-sm-12  col-md-10 col-md-offset-2 main">
           
          
 <div class="row" >         
       <h3 class="p-3 mb-2 bg-primary bg-dark ">Summary of Accounts - {{ tot.name }}</h3>
<div class="well">
 
        Total Invoices : {{ tot.in }}
        <br>
        Total Price : {{ tot.price }}
       
        <br>
        Total Amount Retrieved : {{ tot.m }}
        <br>
        Balance: {{ tot.b }}
</div>

   <div class="row" >
         <form  role="form" action="print_account" method="post" target="_blank">
   			 {% csrf_token %}
         <div class="col-md-3 col-md-offset-2" >
            <div class="form-group">
            <span class="label label-primary">Account From Date</span>
            <input type="date" name='date' value ={{ date }} class="form-control" >
            <input type="hidden" name='company' value="{{ company.id }}">
            </div>
         </div>
  
           <div class="col-md-2" >
        <button class="btn btn-lg btn-success btn-block pull-right" type="submit">Print</button>
         </form>
        </div>
         </div>

<div class='table-responsive'  >
            <table class='table table-responsive table-bordered' style='background-color:white;'>
              <thead >
                <tr>
                 <th> SINO</th>
                 <th >Date </th>
                  <th >Description </th>
                   <th >Debit  </th>
                  <th >Credit  </th>
                 
                 
                

                  {% for inv in amount %}
                  <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ inv.date }}</td>
                  <td>{{ inv.Description }}</td>
                  {% if  inv.type == 'Debit'%}              
                  
                  <td>{{ inv.amount }}</td><td></td>

                  {% else %}
                  <td></td><td>{{ inv.amount }}</td>
                  {% endif %}                
          
                  </tr>
                  {% endfor %}

                  <tr> 
                  <td></td>
                  <td></td>
                 
                  <td><b>Total</b></td>
                  <td>{{ tot.tot_deb}} </td>
                  <td>{{ tot.tot_cred}} </td>
                  </tr>
                  <tr> 
                  <td></td>
                  <td></td>
                 
                  <td><b>Balance</b></td>
                  <td> </td>
                  <td><b>{{ tot.tot_bal}} </b></td>
                  </tr>
            </table>
            </div>
</div>
  <br>
    <br>
    	<script>

/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
 
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 

{% else %}

 <body onLoad="w()">
 {% endif %}

 {% endblock %}